@charset "utf-8";
/* CSS Document */



/* Smartphones,  s'appliquant aux écrans de moins de 480 pixels de large */
@media (max-width: 480px)
{


}

/* De smartphones à tablettes */
@media (min-width: 481px) and (max-width: 767px)
{

}

/* Tablettes à petits écrans */
@media (min-width: 768px) and (max-width: 979px)
{

}

/* Ordinateurs */
@media (min-width: 980px) and (max-width: 1199px)
{

}

/* Écrans larges */
@media (min-width: 1200px)
{

}
                                        /*corp de la page*/
html,body
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    width: 90%;
    min-width: 30%;
    margin: auto;
    background-color: gainsboro;
}

header
{
    width: 100%;
    height: 60%;
    margin-top: 2%;
    position: relative;
}

                                        /* bloc centrale*/
.banniere
{
margin-left: 2em;
width: 75%;
}

.titre
{
	text-align: center;
	height: 10%;
    width: 50%;
    margin-left: 14%; 
    position: relative;
	text-decoration-line: underline;
	color: #2c4c59; 
}

.sous_titre 
{
	text-align: center;
    width: 50%;
	padding-top: 1.5%;
    margin-left: 14%;  
    position: relative;
}

.slogan
{
	text-align: center;
    width: 50%;
    margin-left: 14%;  
    position: relative;
}

.decal_soustitre
{
	text-align: center;
    width: 50%;
    margin: 3em 8.66em;  
    position: relative;
	border-width: 5px 0px 5px 0px;
	border-style: solid;
	border-color: #2c4c59; 
	 
}

h2, .couleur_mot
{
	color: #ac6666;
}

h3
{
	font-weight: bold 
}

.contact
{
	text-align: center;
    width: 78%;
}

                                        /* partie formulaire*/
form 
{
  text-align: center;
  width: 50%;
  margin: 3em 8.66em;  
  position: relative;
	border-width: 5px 0px 5px 0px;
	border-style: solid;
	border-color: #2c4c59;
  /* Centrer le formulaire sur la page */
  margin: 3em 24%  ;
  width: 400px;
  /* Encadré pour voir les limites du formulaire */
  border-radius: 1em;
  padding: 1em;
  border: px solid #CCC;
  
}

form div + div 
{
  margin-top: 1em;
}

label 
{
  /*Etiquettes de même taille et sont alignées */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea 
{
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;

  /* Champs texte même dimension */
  width: 300px;
  box-sizing: border-box;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
}

input:focus, textarea:focus 
{
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000;
}

textarea 
{
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;

  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}

.button 
{
  /* Pour placer le bouton à la même position que les champs texte */
  padding-left: 90px; /* même taille que les étiquettes */
}

button 
{
  /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
  margin-left: .5em;
}

                                        /* aside droite */
/* config de l'aside de droite */
.aside_droite
{
	position: fixed;
	height: auto;
    right: 3em;
    top: 0;
    bottom: 0;
    width: 20%;
    background-color: #2c4c59;
    color: #95b3bf;
}

/* les différents titre de l'aside de droite*/
.h2_langue, .h2_informatique, .h2_atouts, .h2_interet
{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3%;
}

/* paragraphe langue et informatique */
.langue, .informatique
{
  margin-top: 0%;
  margin-bottom: 3%;
  margin-left: 10%;
	text-align: left;
}

/* jauge de la barre de progression*/
.fr:before { 
  content: '';
  display: block;
  position: absolute;
  width: 45%;
  height: 9px;
  background: #ac6666;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

.en:before { 
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 9px;
  background: #ac6666;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

.office:before { 
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 9px;
  background: #ac6666;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

.psd:before { 
  content: '';
  display: block;
  position: absolute;
  width: 30%;
  height: 9px;
  background: #ac6666;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

.wp:before { 
  content: '';
  display: block;
  position: absolute;
  width: 35%;
  height: 9px;
  background: #ac6666;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

.html:before { 
  content: '';
  display: block;
  position: absolute;
  width: 35%;
  height: 9px;
  background: #ac6666;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

.odoo:before { 
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 9px;
  background: #ac6666;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

/*Barre de progression */
.fr, .en, .office, .psd, .wp, .html, .odoo{
  margin-left: 30%;
  margin-bottom: 2%;
  width: 55%;
  height: 9px;
  padding: 1px;
  background-color: #95b3bf;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
  -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
  -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

/* paragraphe atout et interet */
.adresse, .coordonnees, .civil, .atout, .interet
{
  margin-top: 5%;
  margin-left: 1%;
  margin-right: 1%;
	text-align: center;
}

.logo_linkedin
{
	margin-left: 43%;
}

/* liseret gauche */
.section_gauche
{
	position: fixed;
    left: 3em;
    top: 0;
    bottom: 0;
}

